{% extends "general.html" %}
{% block content %}
<p>
Texto introductorio.
</p>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Morbi sit amet tempor risus.
Vivamus erat sapien, pellentesque in interdum at, faucibus vitae orci.
Integer lobortis sapien vitae arcu porttitor sed malesuada odio sodales.
Etiam convallis ante at arcu aliquet ultricies.
Sed a ligula tortor, quis iaculis diam.
Mauris adipiscing, erat eget sagittis luctus, diam ipsum ultricies enim,
at ultrices leo nunc ultrices elit.
Nunc sed aliquam arcu. Donec adipiscing dictum dictum.
Maecenas ut libero lacus. Fusce tristique tempor iaculis.
Quisque blandit pharetra euismod. Etiam auctor porta iaculis.
Pellentesque justo nisl, consectetur nec convallis non, aliquet vitae ipsum.
Integer eget faucibus tellus.
Maecenas auctor tellus sit amet nisi tempus convallis.
Duis porta lectus sed diam dapibus semper.
Nam ultrices ligula quis diam pharetra egestas.
</p>

<h2>Enlaces</h2>
<ul>
<li><a href="/admin/">Administración del sitio</a></li>
</ul>
{% endblock content %}
