{% extends "general.html" %}
{% block title %}Base de datos de pacientes{% endblock %}
{% block menu %}
    <ul id="nav">

    <li class="selected"><a href="/pacientes/">Pacientes</a></li>
    <li><a href="/vivero/">Vivero</a></li>
    <li><a href="/viales/">Líneas</a></li>
    <li><a href="/">Inicio</a></li>

    </ul>
{% endblock menu %}
{% block content %}
<h2>Base de datos de pacientes</h2>
<div id="nav-page">
{% block submenu %}<ul>
<li><a href="/admin/pacientes/">Agregar o modificar contenido</a></li>
</ul>{% endblock submenu %}
</div>
{% block view %}

{{ description|safe }}

{% endblock view %}
{% endblock content %}
